.result {
  padding: 1rem .5rem 0;
  display: grid;
  grid-template-columns: 75% 25%;
}

.result:not(:last-child) {
  border-bottom: 1px solid #aaaaaa;
}


.result h3 {
  word-break: break-all;
  line-height: .75;
}








