.result {
    padding: 1rem 1rem 0;
    cursor: pointer;
    &:not(:last-child) {
        border-bottom: 1px solid #aaaaaa;
    }
    h3 {
        word-break: break-all;
        line-height: 0.75;
    }
    p {
        word-break: break-all;
        line-height: 1.1;
    }
    .amount {
        float: right;
    }
}
