.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    padding: 0 2rem;
    height: 5rem;
    background-color: #66aaff;
    color: #ffffff;
    .branding {
        flex-grow: 10;
        font-size: 2rem;
        font-weight: bolder;
        text-decoration: none;
        color: inherit;
        &:hover {
            color: #dddddd;
        }
    }
    @media (max-width: 800px) {
        padding: 0 1rem;
        .branding {
            font-size: 1.2rem;
        }
        * {
            font-size: 12px;
        }
    }
    .newfence {
        margin-left: 1rem;
        padding: .5rem;
        border: .25rem solid currentColor;
        border-radius: 10rem;
        color: #ffffff;
        line-height: 1;
        white-space: nowrap;
        &:hover {
            color: #dddddd;
            text-decoration: none;
        }
    }
    .account {
        margin-left: 1rem;
        font-style: italic;
        a {
            padding: .5rem;
            border: .25rem solid currentColor;
            border-radius: 10rem;
            color: inherit;
            line-height: 1;
            white-space: nowrap;
            &:hover {
                color: #dddddd;
                text-decoration: none;
            }
        }
    }

}
