.map {
  position: relative;
  height: calc(100vh - 5rem);
}

.arrow {
  display: inline-block;
  line-height: 1;
  color: #fff;
  font-size: 3rem;
  font-weight: bolder;
  justify-content: center;
  margin-top: calc((100vh - 5rem) / 2 - 2rem); // magic number
  margin-left: calc(25vw - 2.5rem); // magic number
}

.button {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 800px) {
  .map {
    height: 400px;
  }
  .arrow {
    margin-top: calc(200px - 1.9rem); // magic number
    margin-left: calc(50vw - 2.55rem); // magic number
  }
}
