.footer {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
        'about repos'
        'copy copy';
    column-gap: 1rem;
    padding: 2rem 2rem;
    width: 100%;
    background-color: #66aaff;
    color: #ffffff;


    .about {
        grid-area: about;
    }
    .repos {
        grid-area: repos;
        ul {
            padding: 0;
            list-style: none;
        }
        a {
            font-weight: bolder;
            color: inherit;
        }
    }
    .copy {
        grid-area: copy;
        text-align: center;
    }

    @media (max-width: 600px) {
        grid-template-areas:
            'about'
            'repos'
            'copy';
        .copy {
            text-align: left;
        }
    }

}




